.about-page {
  min-height: 100vh;
  background: #080808;
  color: white;
}

/* HERO */
.about-hero {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 100px 20px 60px;
  overflow: hidden;
}
.about-content {
  max-width: 750px;
  position: relative;
  z-index: 1;
}

.about-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  line-height: 1.2;

  background: linear-gradient(90deg, #ffffff, #a78bfa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-content p {
  font-size: 18px;
  line-height: 1.7;
  color: #b5b5b5;
}

/* GLOW */
.about-glow {
  position: absolute;
  width: 500px;
  height: 250px;
  background: #6d28d9;
  filter: blur(150px);
  opacity: 0.35;
}

/* HOW IT WORKS */
.how-it-works {
  padding: 50px 8% 100px;
  text-align: center;
}

.how-it-works h2 {
  font-size: 32px;
  margin-bottom: 45px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.step-card {
  padding: 30px 20px;
  border: 1px solid #292929;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.03);
  transition: 0.3s;
}

.step-card:hover {
  transform: translateY(-8px);
  border-color: #7c3aed;
  box-shadow: 0 10px 40px rgba(124, 58, 237, 0.2);
}

.step-card span {
  font-size: 14px;
  color: #a78bfa;
}

.step-card h3 {
  font-size: 21px;
  margin: 15px 0;
}

.step-card p {
  color: #a3a3a3;
  line-height: 1.6;
  font-size: 15px;
}

/* MOBILE */
@media (max-width: 900px) {
  .steps {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content h1 {
    font-size: 38px;
  }
}

@media (max-width: 550px) {
  .steps {
    grid-template-columns: 1fr;
  }

  .about-content h1 {
    font-size: 32px;
  }

  .about-content p {
    font-size: 16px;
  }

  .how-it-works {
    padding: 40px 20px 70px;
  }
}